.hours {
    
    display: flex;
    justify-content: flex-end;
    width: 300px;
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 300px;
    padding-bottom: 10px;
    color: #253746;
    margin: 15px;
    align-items: center;
    padding-top: -180px;
    padding-right: 35px;
}

div h3 {
    text-align: center;
    margin-top: 55px;
}


#carousel {
    display: flex;
	justify-content: flex-end;
	width: 350px;
	height: 220px;
	font-size: 60px;
	font-family: sans-serif;
	font-weight: 200px;
	padding-bottom: 10px;
	color: #253746;
	margin: auto;
	background-color: lightgray;
	text-align: center;
	align-items: center;
	border-radius: 30px;
    

}

.pays {
    margin-top: -15px;
}